In [ ]:
#import the packages "Pandas" and "MatPlotLib" into Jupyter Notebook
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
#import Facebook's stock data
fb = pd.DataFrame.from_csv('../data/facebook.csv')

In [ ]:
print(fb.head())

                 Open       High        Low      Close  Adj Close   Volume
Date                                                                      
2014-12-31  20.400000  20.510000  19.990000  20.049999  19.459270  4157500
2015-01-02  20.129999  20.280001  19.809999  20.129999  19.536913  2842000
2015-01-05  20.129999  20.190001  19.700001  19.790001  19.206934  4948800
2015-01-06  19.820000  19.840000  19.170000  19.190001  18.624611  4944100
2015-01-07  19.330000  19.500000  19.080000  19.139999  18.576082  8045200

In [ ]:
#It is your turn to import Microsoft's stock data - "microsoft.csv", which is located in the same folder of facebook.csv
#Replace "None" with your code
ms = pd.DataFrame.from_csv('../data/microsoft.csv')

In [ ]:
# print head of ms, 1 line
print(ms.head())

output
                 Open       High        Low      Close  Adj Close    Volume
Date                                                                       
2014-12-31  46.730000  47.439999  46.450001  46.450001  42.848763  21552500
2015-01-02  46.660000  47.419998  46.540001  46.759998  43.134731  27913900
2015-01-05  46.369999  46.730000  46.250000  46.330002  42.738068  39673900
2015-01-06  46.380001  46.750000  45.540001  45.650002  42.110783  36447900
2015-01-07  45.980000  46.459999  45.490002  46.230000  42.645817  29114100

## Show the size of a DataFrame using "Shape"

In [ ]:
print(fb.shape)

Output
(780, 6)

In [ ]:
# print the shape of ms, 1 line
print(ms.shape)

## Show summary statistics of a DataFrame

In [ ]:
# print summary statistics of Facebook
print(fb.describe())

             Open        High         Low       Close   Adj Close  \
count  780.000000  780.000000  780.000000  780.000000  780.000000   
mean    80.212705   81.285654   79.022397   80.264897   79.914215   
std     64.226121   65.048907   63.190963   64.198375   64.327846   
min     19.250000   19.500000   18.940001   19.139999   18.576082   
25%     25.525000   26.085000   24.845000   25.475000   25.134513   
50%     53.379999   54.034999   52.930000   53.420000   53.035403   
75%    113.322502  115.779999  110.297499  113.702501  113.261238   
max    245.770004  249.270004  244.449997  246.850006  246.850006   

             Volume  
count  7.800000e+02  
mean   1.204453e+07  
std    8.221848e+06  
min    1.311200e+06  
25%    7.215200e+06  
50%    9.728700e+06  
75%    1.408885e+07  
max    9.232320e+07

In [ ]:
# print summary statistics of Microsoft
print(ms.describe())

             Open        High         Low       Close   Adj Close  \
count  780.000000  780.000000  780.000000  780.000000  780.000000   
mean    58.912308   59.372308   58.465000   58.945397   56.931553   
std     12.852040   12.868060   12.802831   12.830350   13.670080   
min     40.340000   40.740002   39.720001   40.290001   37.267815   
25%     47.894998   48.295000   47.535001   47.974998   44.792073   
50%     56.150002   56.640001   55.700001   56.209999   53.775458   
75%     67.892500   68.174997   67.447500   67.740000   66.565508   
max     95.139999   96.070000   93.720001   95.010002   94.565781   

             Volume  
count  7.800000e+02  
mean   2.978900e+07  
std    1.522319e+07  
min    7.425600e+06  
25%    2.096685e+07  
50%    2.623125e+07  
75%    3.408020e+07  
max    1.691640e+08

## Locate a particular row of data using "Selection by label"

In [ ]:
# select all the price information of Facebook in 2016.
fb_2015 = fb.loc['2015-01-01':'2015-12-31']

In [ ]:
# print the price of Facebook on '2015-03-16'
print(fb_2015.loc['2015-03-16'])

Open         2.288000e+01
High         2.311000e+01
Low          2.273000e+01
Close        2.297000e+01
Adj Close    2.237908e+01
Volume       5.923900e+06
Name: 2015-03-16 00:00:00, dtype: float64

In [ ]:
# select all the price information of Microsoft in 2016.
ms_2015 = ms.loc['2016-01-01':'2016-12-31']

In [ ]:
# print the price of Microsoft on '2016-03-16'
print(ms_2015.loc['2016-03-16'])

Output
Open         5.345000e+01
High         5.460000e+01
Low          5.340000e+01
Close        5.435000e+01
Adj Close    5.187095e+01
Volume       3.169170e+07
Name: 2016-03-16 00:00:00, dtype: float64

## Locate a particular row of data using "Selection by position"

In [ ]:
# print the opening price of the first row
print(fb.iloc[0, 0])

20.4

In [ ]:
# print the opening price of the last row
print(ms.iloc[-1, 0])

Output
90.559998

## Plot the stock data using plot() method

In [ ]:
plt.figure(figsize=(10, 8))
fb['Close'].plot()
plt.show()

Img

In [ ]:
plt.figure(figsize=(10, 8))
ms_2015['Close'].plot()
plt.show()
# plot only the Close price of 2016 of Microsoft, 1 line 
ms.loc['2016-01-01':'2016-12-31','Close'].plot()

In [ ]:
Img